<a href="https://colab.research.google.com/github/Randa1989/Demo/blob/main/covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# COVID-19 tracker
https://www.worldometers.info/coronavirus (https://www.worldometers.info/coronavirus)
Worldometers has a credible sources of COVID19 data.
In this exersice, we will learn how to get data from Worldmeters website
We will save the data to a csv file, and practice how to plot the data.

## import required libraries

# Get data

In [ ]:
import requests
from bs4 import BeautifulSoup  
import urllib.request
import pandas as pd

### Request data from website

In [ ]:
url = "https://www.worldometers.info/coronavirus"
req = requests.get(url)

### Check downloaded content

In [ ]:
from bs4 import BeautifulSoup

url ='https://www.worldometers.info/coronavirus'
soup = BeautifulSoup(url)
result = soup.findAll('title')
for each in result:
    print(each.get_text())

/usr/local/lib/python3.7/dist-packages/bs4/__init__.py:336: UserWarning: "https://www.worldometers.info/coronavirus" looks like a URL. Beautiful Soup is not an HTTP client. You should probably use an HTTP client like requests to get the document behind the URL, and feed that document to Beautiful Soup.
  ' that document to Beautiful Soup.' % decoded_markup

# Parse html

In [ ]:
html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")

*italicized text*### Parse html with BeautifulSoup

In [ ]:
covid_table = soup.find("table", attrs={"id": "main_table_countries_today"})

head = covid_table.thead.find_all("tr")

### Search for the required table

In [ ]:

headings = []
for th in head[0].find_all("th"):
    # remove any newlines and extra spaces from left and right
    print(th.text)
    #headings.append(td.b.text.replace('\n', ' ').strip())
    headings.append(th.text.replace("\n","").strip())
print(headings)

#
Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
NewRecovered
ActiveCases
Serious,Critical
TotÂ Cases/1M pop
Deaths/1M pop
TotalTests
Tests/
1M pop

Population
Continent
1 Caseevery X ppl
1 Deathevery X ppl
1 Testevery X ppl
New Cases/1M pop
New Deaths/1M pop
Active Cases/1M pop
['#', 'Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical', 'Tot\xa0Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop', 'Population', 'Continent', '1 Caseevery X ppl', '1 Deathevery X ppl', '1 Testevery X ppl', 'New Cases/1M pop', 'New Deaths/1M pop', 'Active Cases/1M pop']

### Check Result

### Get all the rows

In [ ]:
body = covid_table.tbody.find_all("tr") 
body[0]

<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>104,765,234</td>
<td>+17,479</td>
<td>1,485,358</td>
<td>+42</td>
<td>98,326,569</td>
<td>+6,087</td>
<td>4,953,307</td>
<td>8,485</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

### Check Result

# Strore data

In [ ]:
data = []
for r in range(1,len(body)):
    row = [] # empty lsit to hold one row data
    for tr in body[r].find_all("td"):
        row.append(tr.text.replace("\n","").strip())
        #append row data to row after removing newlines escape and triming unnecesary spaces
    data.append(row)

### Store rows into list (data)

### Convert list into DataFrame

In [ ]:
df = pd.DataFrame(data,columns=headings)
df.head(10)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,Asia,"160,573,845","+86,494","1,438,143",+213,"154,901,293","+107,497","4,234,409","10,375",...,,,,Asia,,,,,,
1,,South America,"59,257,978","+1,186","1,303,714",,"56,155,527","+6,595","1,798,737","10,363",...,,,,South America,,,,,,
2,,Europe,"201,980,862","+161,594","1,853,065",+193,"193,259,847","+63,652","6,867,950","5,863",...,,,,Europe,,,,,,
3,,Oceania,"9,604,626","+32,313","13,780",+66,"9,246,682","+4,543","344,164",136,...,,,,Australia/Oceania,,,,,,
4,,Africa,"12,285,126",,"255,753",,"11,470,017",,"559,356","1,026",...,,,,Africa,,,,,,
5,,,721,,15,,706,,0,0,...,,,,,,,,,,
6,,World,"548,468,392","+299,066","6,349,828",+514,"523,360,641","+188,374","18,757,923","36,248",...,,,,All,,,,,,
7,1,USA,"88,708,703",,"1,040,641",,"84,352,427",,"3,315,635","3,124",...,"1,048,191,185","3,130,474","334,834,650",North America,4,322,0,,,"9,902"
8,2,India,"43,381,064",,"524,974",,"42,761,481",,"94,609",698,...,"860,258,139","611,504","1,406,791,686",Asia,32,"2,680",2,,,67
9,3,Brazil,"32,030,729",,"670,282",,"30,566,088",,"794,359","8,318",...,"63,776,166","295,887","215,542,505",South America,7,322,3,,,"3,685"

### Check the DataFrame

### Set the first row as the header, and remove the second row

In [ ]:
data = df[df["#"]!=""].reset_index(drop=True)
# Data points with # value are the countries of the world while the data points with
# null values for # columns are features like continents totals etc
data = data.drop_duplicates(subset = ["Country,Other"])

### Check the DataFrame

In [ ]:
cols = ['Country,Other', 'TotalCases', 'NewCases', 'TotalDeaths',
       'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases',
       'Serious,Critical', 'TotalTests']
# Extract the columns we are interested in a display the first 5 rows
data_final = data[cols]
data_final.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotalTests
0,USA,"88,708,703",,"1,040,641",,"84,352,427",,"3,315,635","3,124","1,048,191,185"
1,India,"43,381,064",,"524,974",,"42,761,481",,"94,609",698,"860,258,139"
2,Brazil,"32,030,729",,"670,282",,"30,566,088",,"794,359","8,318","63,776,166"
3,France,"30,513,713",,"149,317",,"29,471,747",,"892,649",869,"271,490,188"
4,Germany,"27,771,111","+89,336","140,734",+84,"26,406,100","+20,500","1,224,277",780,"122,332,384"

### Save as csv file

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
with open('/gdrive/My Drive/foo.csv', 'w') as f:
  df.to_csv(f)