<a href="https://colab.research.google.com/github/Randa1989/Demo/blob/main/Python_Tuple_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Reverse the tuple

In [1]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

Exercise 2: Access value 20 from the tuple

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

Exercise 3: Create a tuple with single item 50

In [3]:
tuple1= (50, )
print(tuple1)

(50,)

Exercise 4: Unpack the tuple into 4 variables

In [4]:
tuple1 = (10, 20, 30, 40)

# unpack tuple into 4 variables
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

Exercise 5: Swap two tuples in Python

In [5]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

Exercise 6: Copy specific elements from one tuple to a new tuple

In [6]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

Exercise 7: Modify the tuple

In [7]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

Exercise 8: Sort a tuple of tuples by 2nd item

In [9]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [10]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

Exercise 10: Check if all items in the tuple are the same

In [11]:
def check(t):
    return all(i == t[0] for i in t)

tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True