<a href="https://colab.research.google.com/github/Randa1989/Demo/blob/main/Python_Set_Exercise_with_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Add a list of elements to a set

In [1]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Red', 'Black', 'Orange', 'Yellow', 'Green', 'Blue'}

Exercise 2: Return a new set of identical items from
two sets

In [2]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

Exercise 3: Get Only unique items from two sets

In [3]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

Exercise 4: Update the first set with items that donâ€™t
exist in the second set

In [4]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

Exercise 5: Remove items from the set at once

In [5]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

Exercise 6: Return a set of elements present in Set A or B, but not both

In [6]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

Exercise 7: Check if two sets have any elements in common. If yes, display the common elements

In [7]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")
  print(set1.intersection(set2))

Two sets have items in common
{10}

Exercise 8: Update set1 by adding items from set2, except common items

In [8]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}