<a href="https://colab.research.google.com/github/Randa1989/Demo/blob/main/Python_List_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[link text](https://)

Exercise 2: Concatenate two lists index-wise

In [1]:
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

Exercise 3: Turn every item of a list into its square

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = []
for i in numbers:
    # calculate square and add to the result list
    res.append(i * i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

Exercise 4: Concatenate two lists in the following order

In [3]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Exercise 5: Iterate both lists simultaneously

In [4]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

Exercise 6: Remove empty strings from the list of
strings

In [5]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

Exercise 7: Add new item to list after a specified item

In [6]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise 8: Extend nested list by adding the sublist

In [7]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Exercise 9: Replace listâ€™s item with new value if found

In [8]:
list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)

list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

Exercise 10: Remove all occurrences of a specific item
from a list.

In [9]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]